name: docs
on:
  push:
    branches: [ "dev", "main" ]

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Install uv
      run: |
        python -m pip install --upgrade pip
        pip install uv

    - name: Install requirements
      run: |
        uv sync
        uv pip install sphinx sphinx-rtd-theme
    
    - name: Build docs
      run: |
        cd docs
        make html
    # https://github.com/peaceiris/actions-gh-pages
    - name: Deploy
      if: success()
      uses: peaceiris/actions-gh-pages@v3
      with:
        publish_branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html/
